[2020-06-15 20:13] jairsjunior opened #1 "Welcome to Stop Analyzing API. Let's start?"
If you want to **contribute to this project, please create an issue asking for a task and provide a bit of information of how you can and would like to contribute.** A maintainer will come to you and  assign a suitable issue, giving all the needed details and guiding you through all the process.

This project follows the [Poppins MANIFESTO guidelines](https://github.com/bancodobrasil/poppins/) and

[2020-06-29 13:15] douglasferlini opened #2 "I'd like to contribute"
Hello,

I have about 15 years of experience with software development but only a few coding in GO.
I think that I can contribute in any task that is needed.

Regards,
Douglas

[2020-06-30 22:11] eniovalo opened #3 "I would like to contribute :)"
Hi,
I don't know Go and Prisma, but I would love learn it. =]
Can I help in anything?

Thanks.

[2020-07-01 01:54] tiagostutz commented on #3
Hi @eniovalo,

Nice to have you here!... I'm sure this will be a greate starting point. I suggest you to do the [Go track of exercism.io](https://exercism.io/tracks/go) at the same time you contribute here to get into some specifics of Golang.

I'll create a issue for you here that will be a appropriate for your learning path. I'll come back here as soon as the issue is created.

[2020-07-01 01:56] tiagostutz commented on #2
Hi @douglasferlini ! Sorry for the delayed answear... for some reason the notification of this project weren't arriving... 🤕

That's awesome to have you here. Let's get this party started. I'm going to create an issue for you right away and will come back here to bring you the link.

[2020-07-01 17:22] eniovalo commented on #3
Hi @tiagostutz ,
Thanks for the opportunity. =]
I will do the Go track of exercism.io while wait for the issue. :)

[2020-07-02 00:02] zamariola opened #4 "I can contribute with Go :)"
Hello Guys!
First of all, awesome idea encouraging the open-source community.
I can help with golang and APIs. Just let me know if you guys foresee anything.
Thanks!

[2020-07-02 01:29] tiagostutz commented on #4
Hi there 👋  @zamariola !!
Nice to have you on board.! 🚢

Thanks for your kind words. We are learning how to do all this stuff, but it's been a great adventure. Welcome to that trip.

As you can help, I'm going to open an issue for you and will link it here when its done for you to take a look and grab that.
Ok?

[2020-07-02 14:24] tiagostutz opened #5 "Implement a crawler to build a migration database"
I was wondering if we should implement a mock data generator or build a database from a real data and I think the latter is a better approach because real data guides better the design decisions, here and at the UI.

So, it would be nice to crawl data from the customer website that inspired this project and will be the first one to use: https://www.lafiancee.com.br/vestidos-de-noiva

I know that c

[2020-07-02 14:27] tiagostutz commented on #2
@douglasferlini first of all, I'm so so sorry for the late response... 😧
I was on a rush with the [stop-analyzing-embed](https://github.com/bancodobrasil/stop-analyzing-embed) and couldn't open an issue with a good timing here.

But finally, I just created this issue #5 for you.! If you like to grap this, just post comment there and I'll assign it to you right now!

[2020-07-02 14:36] tiagostutz opened #6 "Implement migration and database creation startup flags"
Implement a command line flag `--with-migration <url>` that will instruct the main program to download data from a URL and insert in the database before bringing the server up.

If the database already has data, throw an error. We could create another flag `--recreate-database` that will drop and create a database from scratch. So, if the user executes:
[code]

The service will perform a clean sta

[2020-07-02 14:36] douglasferlini commented on #5
Great, I can work on it.

[2020-07-02 14:38] tiagostutz commented on #4
Hi @zamariola !

I just created this issue #6 for you. If you are interested in taking that, please post a comment there and let's do this! 🚴

[2020-07-02 14:41] tiagostutz commented on #5
Awesome!
Assigned to you my friend.

As soon as you create the repo on your user, please paste the link here so we can help with the discussion and issues there.

[2020-07-02 14:42] zamariola commented on #4
Cool! I can grab that. I'm going to ask a few questions there, just to get more info.

[2020-07-02 14:54] tiagostutz opened #7 "Implement the migrationFromFile service"
The service will receive a JSON filePath, validate if the schema is ok and insert the data from this file in the local database.

Just as a starting point, I created the package `migration` with the function `migrateFromURL` and `migrateFromFile`. The ideia is that when this issue is ready, the `migrateFromURL` with be as easy as downloading the file and invoking this function. But that's **not**

[2020-07-02 14:55] tiagostutz commented on #3
Hey @eniovalo! 👋

I just created this issue #7. How about that? If you want to take this, please comment o the issue and I'll assign it to you right away!

[2020-07-02 16:48] eniovalo commented on #7
Hi @tiagostutz,
Could I try to do this issue? =]

[2020-07-02 16:52] eniovalo commented on #3
Hi @tiagostutz,
Thanks. =]
I would like to take this issue #7 .

[2020-07-02 17:08] tiagostutz commented on #7
Its yours.!

Go ahead! =)

[2020-07-02 19:14] tiagostutz commented on #7
Hey, @eniovalo just for you to know, I just updated some commiting guidelines here https://github.com/bancodobrasil/stop-analyzing-api/blob/master/CONTRIBUTING.md#commiting-and-pr-guidelines

I think it would be good for you to notice that and if you have any suggestion, please feel free to open an issue with that.

[2020-07-02 19:14] tiagostutz commented on #5
Hey, @douglasferlini  just for you to know, I just updated some commiting guidelines here https://github.com/bancodobrasil/stop-analyzing-api/blob/master/CONTRIBUTING.md#commiting-and-pr-guidelines

I think it would be good for you to notice that and if you have any suggestion, please feel free to open an issue with that.

[2020-07-02 19:31] eniovalo commented on #7
Thanks @tiagostutz =]

[2020-07-02 19:32] zamariola commented on #6
Hello guys!
Quick question here... Do we have any thoughts about content, protocol or anything that the Url (endpoint-with-migration-data) is going to provide?
Are we going to expose this URL with the migration information inside the "stop-analyzing-api" service itself, so we would use it to migrate from an existing scenario to another OR are we going to have a third party service with the content

[2020-07-02 20:34] tiagostutz commented on #6
Hi @zamariola ! Good point!

We will have a mix of the second and third option. We are going to have the data coming from third parties and those third parties will follow the spec that will be defined in #7 . This way we will be able to decouple "data gathering" from "data presenting" in a smooth manner.

So, I think we can discuss in #7 this content spec and protocol. Agreed?

[2020-07-03 16:59] tiagostutz opened #8 "Implement an example of the "contract" between backend and frontend"
We could implement a mock server that delivers a Mock data just to have the "spec by example".

What do you think? We could design here the request/response protocol and then somenone grabs this issue to implement the mock server..

[2020-07-03 17:31] eniovalo commented on #8
@tiagostutz I think it is a great ideia. So frontend could test the integration with backend. =]

[2020-07-03 17:53] tiagostutz commented on #8
Correct!
And, as the design is to have a data server, the interface with the mock data server or with a actually data server will be the same. 😃

[2020-07-03 18:30] jairsjunior commented on #8
To start this conversation, we need to list the basic information that will be transit between the embed and api projects.
I will start with some properties and objects

**Image** Object
- name
- filePath
- []Tag

**Tag** Object
- name
- []Images

[2020-07-03 20:23] tiagostutz commented on #8
Nice! Good start. I see that you started the spec in the Go side here, right. I was thinking about the REST API that this component will invoke to get the data it will use to store and expose to the frontend.

I was thinking about not stricting only to images, building a more generic API as this could be used for videos, for instance. Agree?

I'll write some documentation as spec here for you all

[2020-07-05 19:33] jairsjunior commented on #8
maybe change the imageURL to contentURL be an option? And what more information the frontend will need?

[2020-07-05 19:37] GreenStage opened #9 "I want to contribute to this project"
Cheers,
I have experience in go,

Was looking for smth to contribute to in my spare time,

If there is anything you are willing to let me take, would be lovely

Thanks :D

[2020-07-06 14:11] tiagostutz commented on #8
Yep! You are right... correcting:

# Wedding dress Stop Analyzing Database

## Using th API

To get the choice options to be used on your **stop-analyzing-api** service, you could use this API that has the following endpoints:

### Get all options

Retrieve all items and can be filtered using query params on the URL by:
- `title`: item title text (e.g.: _Blush Tulle and Lace Wedding Dress_)
- `tag

[2020-07-06 14:16] tiagostutz commented on #6
Hi @zamariola !

I think you would be interested in taking a look or maybe giving some thoughts at #8 .

[2020-07-06 14:19] tiagostutz commented on #9
Cheers, @GreenStage !

Absolutely. I'm going to open an issue for you and will come back here to link it asap so we can get started. 🚀

We are so glad to have one more Gopher here...! ⚡

[2020-07-06 21:36] zamariola commented on #8
Cool! The json schema helped a lot. I'm getting a more well-defined picture of what we are trying to migrate and how to model it using structs.
This issue is absolutely related to te #6 one.

I think we may have two entry-points to call the same flow

**File Migration**:  Read file ---------------------------> parse struct -> process
**URL Migration**: Call http GET -> parse response -> ^

What do

[2020-07-07 12:28] marciojunior88 opened #10 "What task can you perform?"
I would like to have a task to perform

[2020-07-07 13:41] douglasferlini commented on #5
I've already created the fork https://github.com/douglasferlini/stop-analyzing-api on my user.

[2020-07-07 14:14] douglasferlini commented on #5
Which data we will be extracting from this website? Just the dresses and their attributes?

[2020-07-07 17:28] eniovalo commented on #8
Hi, @zamariola .
Sorry, I haven't created any structs yet. =(
I'm still studying the basics of Golang and analyzing how to solve issue #7 ...

[2020-07-07 17:42] eniovalo commented on #7
Hi @tiagostutz ,
The schema to validate the Json file is the same as the issue #8 ?
[code]

[2020-07-07 23:29] zamariola commented on #8
Don't you worry! I'm going to create a draft and share it with you!

[2020-07-08 10:21] tiagostutz commented on #5
Yes, the dresses, their attributes and theirs pictures. The attributes are the ones that you can filter using this filter:

<img width="232" alt="Captura de Tela 2020-07-08 às 07 18 16" src="https://user-images.githubusercontent.com/3986989/86907345-407cf500-c0eb-11ea-81d0-0a4894a8d0df.png">

So, turns out that the engineering design of API has evolved a bit - as you can see on #8 - and this craw

[2020-07-08 10:22] tiagostutz commented on #7
Yep, that's the schema to be validated against @eniovalo !

[2020-07-08 10:28] tiagostutz commented on #8
Great, @zamariola !

Let's implement the way you suggested. When you commit the structs on your fork, please put a `ref #8` on the commit message so this commit will appear here in the issue and we can take a look at the progress. 😃

[2020-07-08 10:29] tiagostutz commented on #9
Hi @GreenStage !
Sorry for the late reply. Do you have any experience with building crawlers?

[2020-07-08 10:32] tiagostutz commented on #10
Hi @marciojunior88 ! We're so glad to have you on board.!
I'm taking a look here at the opened issues and the project backlog and will create an issue for you.

Do you already have some experience with Go or are you starting it like the most of us? What other technologies you like to work with?

[2020-07-08 12:40] tiagostutz opened #11 "Follow a Go project pattern/guidelines"
Hi there!
Anyone has any suggestion on a project structure, best practies, linting, pattern, etc for us to follow?

As we are in the beginning of the project, I think that's a good opportunity for us to choose one and make the refactor.

Suggestions?

[2020-07-08 15:51] vinnicius commented on #11
Looking for project structure standards in go, i find that there's no specific package structure att all (:

But we can use some good practices and patterns from popular projects. I found guidelines here (https://github.com/golang-standards/project-layout) that are useful when we have multiple packages in the same repo. Think that this is a good start.

[2020-07-08 16:53] eniovalo commented on #7
@tiagostutz , Thanks. =]

[2020-07-08 16:57] eniovalo commented on #8
@zamariola , Thanks. 🙂

[2020-07-08 17:45] GreenStage commented on #9
@tiagostutz  cheers,

No i have not

[2020-07-08 22:48] tiagostutz commented on #11
Nice, @vinnicius ! I agree with you.

Do you want to make this reactor and submit a PR? It would be really nice to have the project follow those guidelines.

[2020-07-08 22:54] tiagostutz commented on #9
Ok!
I'm organizing here the issues and will create one for you. Meanwhile, do you think you could contribute sharing some thoughts in #11 as you have some experience in Golang projects? It would be nice to have your opinio on this.!

[2020-07-09 01:55] vinnicius commented on #11
Sure! I’m gonna take that.

[2020-07-09 03:57] tiagostutz commented on #11
Sweet.!
Go ahead. We well be waiting for the PR. ☀️

[2020-07-09 08:30] GreenStage commented on #11
Here are my two cents on this:

 IMO , more important than following any dogmatic layout, is separating concerns and naming packages in a way that transparently describes their implementation uniqueness.

For instance, I would avoid naming a package "db". E.g. while you may have only integration with a postgres database today, you might want to have a Mongo database tomorrow.  Your application cou

[2020-07-09 12:57] douglasferlini commented on #5
Great, I will create a repo stop-analyzing-crawler. Is this name ok?

[2020-07-09 15:29] rafamarts opened #12 "I would like to contribute"
Hello guys,

I have basic experience in Golang, and would like to improve it. Could I help the project with some issue?

Thank you!

[2020-07-09 17:38] eniovalo opened #13 "Could add Hall of Fame at Readme"
We could add [Hall of Fame Widget](https://github.com/sourcerer-io/hall-of-fame) at Readme to encourage contributions. =]

![Hall of Fame](https://user-images.githubusercontent.com/14916191/87072161-b9ff0b00-c1f1-11ea-9a16-6ef03decf002.png)

[2020-07-09 17:52] eniovalo commented on #7
Hi @tiagostutz ,
Like issue #6 , if the database has already data, I need to throw an error? And I need to create an option to recreate the database from JSon file?

Thanks.

[2020-07-10 00:50] #4 closed

[2020-07-10 00:51] zamariola commented on #4
Closing to work on #8

[2020-07-10 15:54] vinnicius commented on #11
From the reddit article, I ended up here https://github.com/Evertras/go-interface-examples/tree/master/local-interfaces

It's not quite straightforward or simple to understand, but it's a great starting guideline. What you all think about it?

[2020-07-11 13:52] #2 closed

[2020-07-11 13:52] #3 closed

[2020-07-11 13:55] tiagostutz commented on #5
Hi @douglasferlini ! Sorry for the late response... I had an atypical week, but now I'm breathing again... eheheheheh...

Maybe the name could be driven to the data source name (lafiancee-website). I think you could name it **lafiancee-website-crawler**. This data you are going to crawl can be used anywhere, not just with Stop Analyzing, that's why I think you could use another naming approach. Go

[2020-07-11 13:59] tiagostutz commented on #7
Hi @eniovalo  ! Sorry for the late response... this week was a mess, but everything is fine now.! =)

I think it could throw an error and you could have an option passed as a `boolean` param named `resetDatabase` that will always recreate the database before running the migration. Sounds good?

[2020-07-11 14:02] tiagostutz commented on #11
Go for it, @vinnicius !

Thanks a lot @GreenStage.! 🚀

[2020-07-11 14:04] tiagostutz commented on #12
Hi @rafamarts ! Sorry for the late response... !

I'm going to create an issue for you and will come back here with it.

That's so nice to also have you here. It will be of great value for the project to have contributors working on both frontend and backend.

[2020-07-11 14:05] tiagostutz commented on #13
I agree, @eniovalo ! Great tip.!

Let's just wait for the first alpha release and we could have it here and at https://github.com/bancodobrasil/stop-analyzing-embed/issues

Agree?

[2020-07-13 13:54] douglasferlini commented on #5
Hi,

I've created the repository https://github.com/douglasferlini/lafiancee-website-crawler for this project.
As soon as I can I will follow the guidelines to convert it to a Poppins project.

[2020-07-13 17:58] eniovalo commented on #13
@tiagostutz ,great! 🙂

[2020-07-13 18:02] eniovalo commented on #7
@tiagostutz , no problem. 😉
Sounds good, thanks. =]

[2020-07-13 19:41] eniovalo commented on #11
@vinnicius , thanks for the guidelines link, its project structure seems nice. =]

@GreenStage , thanks for the link about interfaces locally, it sounds good. :)

I don't know much about Golang, but we could configure a script to run `go fmt` and `golint` to format and to validate the code before each commit. :slightly_smiling_face:

[2020-07-14 00:56] tiagostutz commented on #11
What do you think @vinnicius ? Could we put this in the scope of this issue or do you think we should open another issue for that?

[2020-07-14 11:36] vinnicius commented on #11
Since this could become a standard pattern for our projects, and for tracking purposes, I think that another issue is more suitable in this case!

[2020-07-15 01:34] tiagostutz opened #15 "Configure a script to run go fmt and golint to format and to validate the code before each commit"

[2020-07-15 01:35] tiagostutz commented on #9
Hi there @GreenStage !
Would you like to contribute taking the issue #15 ?

[2020-07-15 17:32] GreenStage commented on #15
I can do it :P

[2020-07-15 20:53] tiagostutz commented on #15
Nice! Go on.!

[2020-07-17 14:31] tiagostutz opened #16 "Create an endpoint to get next choice option"
Implement only the Route, you don't have to implement yet the algorithm of sorting items and actually retrieve them, just the endpoint retrieving a fixed array of items. We will create another issue for that algorithm.

Spec:

# Wedding dress Stop Analyzing Database

## Using th API

...

### Get Choice Option

To get the next choices to be presented to the user, the client will invoke an endpoint

[2020-07-17 14:37] tiagostutz commented on #10
Hi @marciojunior88 !
Sorry for the huge delay on that. 🥺
I didn't have a backlog yet so I couldn't just pick and issue and assign to you, I was designing it.

The good news is that it is ready to go! If you want to grab, go to https://github.com/bancodobrasil/stop-analyzing-api/issues/16 and give a comment so I can assign it to you! It will be really nice to have your contribution here.

Thanks fo

[2020-07-18 11:08] GreenStage commented on #15
https://github.com/bancodobrasil/stop-analyzing-api/pull/17

[2020-07-20 00:41] zamariola commented on #8
@tiagostutz @eniovalo
I don't know if we already have a final word about it:
are we going to store the options using the ChoiceBoardModel, so we're going to have title and subtitle there or are we going to use another model?

My next step on #6 is the actual item creation.

Thanks!!

[2020-07-20 11:59] marciojunior88 commented on #16
POST http://stop-analyzing/api/list-option?count=qtde

[2020-07-20 12:03] tiagostutz commented on #16
Hi @marciojunior88 !
Are you asking whether the API call will be like this?

[2020-07-20 12:06] marciojunior88 commented on #16
no, I understood that it was to set up an endpoint that would be used to call the function of returning a list. Is not it?

[2020-07-20 12:23] tiagostutz commented on #16
Yes, that's it. Check this line docs in description:
[code]

This is a request example. So, you will receive this data in query param and in the body. Currently, we don't have the function that will calculate what is the next option but that's not a problem now and you don't have to implement that. So, what you will do is to create the endpoint, parse the query params and the body into a struct an

[2020-07-20 12:55] marciojunior88 commented on #16
am I supposed to write an endpoint in this complete format above?

I was thinking it was to write only the url of the endpoint as I did above

[2020-07-20 13:08] tiagostutz commented on #16
Ah, now I understood your doubt....! 🤓

Yes, you should write in this complete format to preserve the semantic in the URL because this endpoint will not only list average options, it will return the next `n` choices the user will have to device between based on the previsou one. That's why it is "choice" and "next".
Sounds ok?

[2020-07-20 15:24] #15 closed

[2020-07-20 15:32] tiagostutz commented on #11
Hi @vinnicius !
Are you still working on this issue? I'm asking because if you are out of time now, we could ask @GreenStage  whether he wants to take this issue as we've just merged his #15 PR. Of course we can create another issue for you when you prefer to.
But if you are working on that, never mind, we are gladly waiting for your PR.! 🏁

[2020-07-20 15:33] #10 closed

[2020-07-20 16:08] vinnicius commented on #11
Oh, i was working on this, using @GreenStage guidelines that i found to be very interesting! But also having a hard time understanding how to make ir work. If he wants to take this one that will be great! And i'll take another issue in the meantime

[2020-07-20 17:38] tiagostutz commented on #8
Hi @zamariola! We don't have a final word yet, but let's make the decision right now:
Following what we are implementing in https://github.com/bancodobrasil/stop-analyzing-embed/issues/34, the endpoint of to retrieve the next choice will return:

[code]

Those choices are `Items` (in our model). So that's the current proposal. Do you agree with it or have some suggestions to share? We are wide ope

[2020-07-21 11:28] GreenStage commented on #9
Cheers, glad to help with what i can.
You can assign me to this issue aswell

[2020-07-21 11:50] tiagostutz commented on #9
Perfect.!

Just assigned the issue #11 to you.

[2020-07-21 13:24] zamariola commented on #8
Perfect! I'm going to add it.

[2020-07-21 13:25] douglasferlini commented on #5
Hi @tiagostutz ,

I've already implemented an initial version of the crawler.

[2020-07-21 20:56] GreenStage commented on #11
Hallo @tiagostutz , can you clarify some questions for me?

1.  The whole cmd/service boot logic seems a big overkill, if you ask me. This being an HTTP server , the only commands are start/stop. We don't need a cli for this. The server could start when the applications starts and exit when it stops (ctrl+c). This would also remove a lot of code. What do you think?

2.  prisma generates the models

[2020-07-21 21:51] tiagostutz commented on #11
Hi there @GreenStage, good points you bring.!

We can improve this, but the point is that beyond the HTTP server start/stop this program will have some migration commands also to bring data and, although that could be in a separated project, this would be an overkill also because we would have to separate all the model stuff and business logic in a separate lib to be used in both projects (http se

[2020-07-21 22:12] tiagostutz commented on #5
Great!

Do you want some help on that? If so, we can ask some people here whether they would like to contribute.

[2020-07-21 22:29] #6 closed

[2020-07-22 00:34] vinnicius commented on #5
I can help! Gonna fav the crawler here and we can work in issues there

[2020-07-22 01:09] douglasferlini commented on #5
I would like to discuss briefly if the produced json has all that attributes needed.

[2020-07-22 12:27] marciojunior88 commented on #16
$ curl -X POST http://stop-analyzing/api/list-option?count=3 --header 'Content-Type: application/json' -d '{  "previousChoices": ["1","2","3"] }'

it is?

[2020-07-22 12:41] tiagostutz commented on #16
Actually, not. Please, check my comment above: https://github.com/bancodobrasil/stop-analyzing-api/issues/16#issuecomment-660993840

[2020-07-22 15:27] marciojunior88 commented on #16
sorry, what's wrong?

[2020-07-22 15:30] tiagostutz commented on #16
The URL path will be `/api/v1/choice/next?count=3`. In your example it is `/api/list-option?count=3 `

[2020-07-22 21:53] tiagostutz commented on #5
@douglasferlini can you post here the produced JSON? Or are you asking how this format will be?

[2020-07-23 11:33] marciojunior88 commented on #16
anything else you can contribute?

[2020-07-23 12:07] tiagostutz commented on #16
Nope, I think the only thing I had to point was the URL path.

If you have any doubt about the requirements or the code, please feel free to ask! =)

[2020-07-23 13:29] marciojunior88 commented on #16
Entendido !

[2020-07-23 19:48] douglasferlini commented on #5
@tiagostutz Currently the json for each dress is being produced as shown below:

{
	"id": "77c441ce-202d-4a9e-1a8f-6ee56d7b16f4",
	"name": "La Fianc\u00e9e Queenie",
	"price": 0,
	"media": [{
		"fullUrl": "https://static.wixstatic.com/media/daf591_1140ec8164e24f44a793272d95dc3c66~mv2.jpg/v1/fit/w_500,h_500,q_90/file.jpg"
	}, {
		"fullUrl": "https://static.wixstatic.com/media/daf591_8178d1e7a58144b

[2020-07-23 21:48] #7 closed

[2020-07-24 12:04] tiagostutz commented on #5
Hi @douglasferlini..!

I think this exercise shown that maybe we have a problem with our Model... and that's because we are just considerating "Tags" but it seems we will have to have "Groups of tags". See, the `options` fields brings this information in groups, e.g.: "Decote em V" and "Manga comprida" will be tags in the "Corpete" group. "Boho Chic" is a tag in the "Estilo" group. "Corte Reto" wi

[2020-07-24 12:38] vinnicius commented on #5
Is there a problem with something like this?

[code]

[2020-07-24 17:33] eniovalo commented on #5
Sorry to ask, but there is a problem if we group all options in the same group?
Example:
[code]
Because if tag (option) is unique we can still filter it. =]

[2020-07-24 21:30] eniovalo opened #19 "Run go test before each commit or show a console log to run go test before push"
Hi,

We could configure to run `go test` on all project before each commit to validate if the changings break anything. Or if tests are too slow, we could display a console log after commit to remember to run `go test` before push. =]

What do you think?

[2020-07-24 22:48] zamariola commented on #19
It's a good point. We can configure the travis-ci and the goreportcard. btw, ours is A+
https://goreportcard.com/report/github.com/bancodobrasil/stop-analyzing-api

[2020-07-24 22:56] zamariola opened #20 "Create an integration test to validated the json migration flow"
stop-analyzing-api has (currently) two possible migration scenarios: URL and Json file import.

We believe that it would be good to have an integration test using golden files to check :
1) Scenario with valid json
2) Scenario with invalid json
2.1) Format
2.2) Content
2.3) Enconding

Here is an article with details of how to create golden-files: https://ieftimov.com/post/testing-in-go-golden-file

[2020-07-24 23:18] zamariola commented on #5
Interesting topics... I think that we may need to change our current tag model or keep it as-is (for another purpose may be) and insert a new concept, something like search facets.

I'm thinking in two options:

1)
In a traditional relational FK-PK, I'd suggest something as:

Product/Choice <-> Facet (option in our scenarios above)   ===> This relationship shows that our product has its attribute

[2020-07-25 00:29] tiagostutz commented on #19
Nice.!

Could we offer this issue to Rafamarts, at #12? Including the `go test` feature and the travis-ci thing.

What do you think?

[2020-07-25 10:55] GreenStage commented on #5
@zamariola
I like your approach, I would just make a small change

As @eniovalo said, if the tag is unique in the whole db scope, they don't need to be under a group. It seems to me that having tags listed under "tag-groups" is just a front-end problem.

If so, I don't think the product needs to reference the tag-group directly.

I would suggest something like this

![Untitled](https://user-images

[2020-07-27 14:59] tiagostutz commented on #5
Really good points.!

As I can see, we reach the decision point of whether we are going with a Tag approach or with an Attribute (we called it Tag-Group) approach in the model. Correct?

I was thinking a lot about how the data will be used to narrow the choices options until we reach the best ones to the users and I think I finally have a simple enough explanation to it. I think this can help us m

[2020-07-27 17:49] eniovalo commented on #19
@tiagostutz ,
I think It's ok. 🙂

[2020-07-27 17:52] eniovalo commented on #19
@zamariola ,
I didn't know this site, it is really nice to see the reports.
Thanks. 🙂

[2020-07-27 18:09] tiagostutz commented on #12
Hi there @rafamarts !!

Do you want to take the issue #19 ? If so, please comment in the issue and I'll assign it to you.

Sorry for the late response... 🤒

[2020-07-27 18:32] MarcioMad commented on #5
Really good points.!

We now reached the opportunity point to define the best way to go:  The Tags approach, or  Attribute (we called it Tag-Group) approach in the model. Do you agree?

I was thinking a lot about how the data will be used to narrow the choices options until we reach the best ones to the users and I think I finally have a simple enough explanation to it. I think this can help us ma

[2020-07-27 18:39] MarcioMad commented on #5
Hi @tiagostutz,

Where would be the right place to post suggested corrections for "Please-review-my-english" marked text? Is it ok to just comment below the original post?

[2020-07-27 18:43] MarcioMad commented on #5
Hi @tiagostutz,

About the proposed method: Would it be like a cascading filter selection? If so, both approaches (tags and attributes) would apply. Even free (tokenized) text would work. I don't think I grasped the whole concept here.

[2020-07-27 18:51] rafamarts commented on #12
Great!! Let's do it!! I can get the issue #19.

[2020-07-27 19:07] tiagostutz commented on #5
Yes, it's OK to comment below the original post.! Thanks!

[2020-07-27 19:55] tiagostutz commented on #5
Yes, it will be a cascading filter selection.  And yes, you are correct, both approaches will work. And, no, you are no being  grasped at all my friend!

My vote for the attribute based approach is that it will give us more information about the data and can expand our UX possibilities. If the UX engineer somehow wants to show to the user which attribute he/she has already decided or which attribu

[2020-07-27 20:23] tiagostutz commented on #12
Great!! Just comment there on the issue, please, so I can assign it to you.

Welcome on board! 😃

[2020-07-27 20:47] rafamarts commented on #19
Hi guys,

Please, assign to me. I can work on that..

Thank you!

[2020-07-27 22:13] tiagostutz commented on #19
Nice!
Assigned to you, @rafamarts!! Go for it.!

[2020-07-27 23:44] GreenStage commented on #16
just passing to say that this is not restful, although it ain't a problem if you don't want it to be lol

[2020-07-27 23:50] GreenStage opened #22 "Dockerfile uses ubuntu"
The current dockerfile uses Ubuntu as the base image ~180Mb.

Maybe alphine (~5Mb) would be a better fit? Or is there something we need from ubuntu?

[2020-07-28 10:47] #11 closed

[2020-07-28 11:02] tiagostutz commented on #22
I'm big fan of Alpine and use it in some projects when the project is stable and being released to production. But, when the project is in its early stages, sometimes we need a "backdoor" to do some tests on the fly inside the container by editing some files, requesting (curl) around some resources, stuff like that. For that kind of job, I prefer Debian (Ubuntu) because it is more dev friendly.

I

[2020-07-28 11:23] tiagostutz commented on #16
Yes, It would be good to have it RESTful, but that's not a problem not to have.

For example, changing this from POST to GET (as we are retrieving the next option) would make sense, but technically it would be a problem because we need to pass an array as request param and doing that is really weird. Another thing to point here is that this is not a fully transactional endpoint to the client's per

[2020-07-28 12:05] GreenStage commented on #16
GET /choice?previous=x&previous=y

This is how I would do it

But it boils down to personal preferences :P

[2020-07-31 11:24] GreenStage commented on #22
got it!

[2020-07-31 11:24] #22 closed

[2020-08-01 05:35] tiagostutz commented on #8
Just to update things a little, we are moving from a "tag" approach to an "attribute" approach. So the JSON returned to the frontend will be:
[code]

[2020-08-01 11:51] tiagostutz commented on #16
@GreenStage I was thinking about your RESTful suggestion and I think it is better than the POST approach I suggested. Let's go for it and change the Spec to use it.

@marciojunior88, please follow the new Spec for this endpoint, which is:

**GET** /choice?previous=<previous_choice_0_id>&previous=<previous_choice_1_id>&count=<how_many_returning_choices>

- returns an array of choices based on the p

[2020-08-01 12:09] tiagostutz commented on #5
@GreenStage what do you think about the suggestion of changing from TagGroup/Tag to Attribute/AttributeValue ?

@andreaguiar-br what are your thoughts on this? Maybe you could share a dbdiagram with some suggestion?

[2020-08-01 16:57] GreenStage commented on #5
@tiagostutz cheers, i don't think i understand the problem.

From what I could gather its just a naming issue, right?

[2020-08-01 17:05] tiagostutz commented on #5
Yep, just a naming issue.

[2020-08-01 17:56] GreenStage commented on #5
Hmm, it feels to me like AttributeValue / Attribute suggest a 1-1 relationship

[2020-08-01 19:14] tiagostutz commented on #5
Thats exactly the case! Nice.!

Let’s wait until monday to see if someone has more suggestion/contributions on this topic and we end up with this decision.

Cheers !

[2020-08-03 21:36] paulo-vieira-centeno opened #23 "Developer wanting to get involved in the OSS community"
Hello
I am a Developer with solid background in the Telecom industry, specializing in C ++. I am interested in starting to collaborate on Open Source projects in order to improve my Go development skills. I found your project to be a good gateway for this community. I would like more information on how to collaborate.

[2020-08-03 22:42] tiagostutz commented on #5
So, I think we have reached a good point here and the JSON suggested by @vinnicius can be used to extract data and record on the database using the model we just discussed here. In the JSON, the only thing to change is the `options` property name to `attributes`.

The input/output would be as follows:

**JSON produced by the Crawler**:
[code]

This JSON will be recorded on the database this way:

[2020-08-03 23:39] tiagostutz commented on #23
Hello and welcome to Stop Analyzing, @paulo-vieira-centeno .! 👋🏻

First of all thanks for offering help to this project. I’m sure we are building a simple yet really interesting and useful tool here.

If you are looking for a place to practice go and improve your OSS skills, you reached the right place.! We are all learning together here.

I’ll create an issue for you asap, but meanwhile, would yo

[2020-08-04 02:13] andreaguiar-br commented on #5
@tiagostutz , Sorry my late response...

I really liked the model @GreenStage had suggested and also the meaning of new fields, changed from _Tag_ to _Attribute_, fits very good.

Once data migration is quite expensive, when I plan a database, I think It´s crucial to understand the context of information, and in this case, the information named _Attribute_ really fit a characteristic of a type of

[2020-08-04 20:27] paulo-vieira-centeno commented on #23
Thanks, I'll take a look at #19
Nice to meey you guys too!

[2020-08-04 20:47] paulo-vieira-centeno commented on #19
I'd like to help with this issue.
Can you assign it to me?

[2020-08-04 21:40] tiagostutz commented on #19
Done! Go for it @paulo-vieira-centeno !!

@rafamarts I assigned to @paulo-vieira-centeno and we will work on another issue soon, ok? Thanks!!

[2020-08-05 00:35] douglasferlini commented on #5
Yes, I will change the produced JSON.

[2020-08-05 21:09] paulo-vieira-centeno commented on #19
@tiagostutz , I was thinking in writing a bash script that performs some of the steps described in README.md file, except for the steps related to the build of the API. These steps would be done in the host machine, so it would make it easier to start developing/testing the API locally. We could also setup the githooks as one of these steps. What do you think about?

[2020-08-06 12:15] tiagostutz commented on #19
Hi @paulo-vieira-centeno !

Sounds good to me! Please, go ahead. 🚀

[2020-08-11 21:02] paulo-vieira-centeno commented on #19
@tiagostutz , I've already done my local changes in a local branch. I tryed to push that repo to github, but got a '403 forbidden'.  Can you give me the appropriate permissions to be able to push my branch to the repository?

[2020-08-11 21:40] eniovalo commented on #19
Hi @paulo-vieira-centeno ,
I think you need to fork the project and after send a Pull Request. =]
Like in this [article](https://github.com/firstcontributions/first-contributions#fork-this-repository) and [here](https://github.com/bancodobrasil/stop-analyzing-api/blob/master/CONTRIBUTING.md) there is more information.

[2020-08-12 20:34] paulo-vieira-centeno commented on #19
Thanks for the instructions, @eniovalo

[2020-08-12 21:22] eniovalo commented on #19
@paulo-vieira-centeno , you're welcome. 🙂

[2020-08-13 02:06] douglasferlini commented on #5
The produced JSON is already adjusted to match the model mentioned above.

Please, let me know if there is any other issues.

Warm Regards

[2020-08-13 11:33] tiagostutz commented on #5
@douglasferlini awesome!!

Have you fully ran the crawler? If so, could you zip the JSON and share it with us using some cloud file sharing service, please?

[2020-08-14 14:17] douglasferlini commented on #5
The JSON is available on http://35.198.4.79:8000/data.json .

[2020-08-14 16:48] tiagostutz commented on #16
Hi @marciojunior88 !
Are you still working on this issue? If not, can we assign it to another contributor that is looking for an issue?

[2020-08-14 16:49] #23 closed

[2020-08-14 16:49] #9 closed

[2020-08-14 16:49] #12 closed

[2020-08-18 02:13] dianalin2 commented on #16
I could tackle this issue!

[2020-08-18 10:15] tiagostutz commented on #16
Awesome, @dianalin2 ! 🚀
Just assigned the issue to you. Go ahead.

If you need some help, just ask and we will come to you.

[2020-08-19 02:42] dianalin2 commented on #16
Hi, @tiagostutz, just for clarification, I am just writing the routing path, correct? I'm not returning anything?

[2020-08-19 16:13] #19 closed

[2020-08-19 16:19] tiagostutz commented on #16
Hi @dianalin2 ! Yep.!

You could return this fixed payload, just to have something returned:
[code]

Then, in another issue we will tackle the selecting items logic.

[2020-08-20 18:24] yurypcf commented on #20
Hi! I'm currently learning Golang and I'd like to try this issue out. Can I?

[2020-08-24 20:25] tiagostutz commented on #16
Hi @dianalin2
Congrats on your awesome PR!! Thanks for your contribution. I have just sent you and invite to be part of the team. I hope you can accept this and we can work on the evolution of this project. =)

[2020-08-25 02:04] yurypcf commented on #20
Okay! Nice, I'll start working on it today. Any questions I'll be posting here.

[2020-08-26 19:39] yurypcf commented on #20
@tiagostutz
I've been trying to setup the project and it keeps returning this error related to a package that I can't find in the projects folder (`stop-analyzing-api/internal/db`). What could I be doing wrong? I've already created the database and ran the migration with Prisma.
![image](https://user-images.githubusercontent.com/15652497/91348547-4ffaef00-e7ba-11ea-8393-bb94fd52d9c2.png)

[2020-08-27 00:11] #16 closed

[2020-08-27 00:22] tiagostutz commented on #20
Hi @yurypcf !
I've cloned and built from scratch here and I'm having the same issue. It seems to be a problem with the Prisma generator.
I'm checking it here and will come back when I have news.

Maybe @zamariola and @GreenStage could give a hand also.? Thanks!

[2020-08-27 00:45] tiagostutz commented on #20
I can confirm that's kinda bug introduced in [prisma-go-client v0.0.5](https://github.com/prisma/prisma-client-go/releases/tag/v0.0.5). To reproduce run the following in the folder **scripts/prisma**:
[code]
The output will be:
[code]

Now run the following to check that this won't work with v0.0.5:
[code]
The output is blank.

So I think we should fix the Go dependency to version to v0.0.4 in go.

[2020-08-27 17:27] yurypcf commented on #20
Worked like a charm. :)
Project set up succesfully.

[2020-09-22 22:50] tiagostutz opened #26 "Migrate from DATABASE_URL environment variable to flag"
Currently the database connection information is get from an environment variable DATABASE_URL. To be more a "go thing", we could change it to be a flag `--databaseURL` instead of the environment var. In some scenarios, the env would be used as the value of the flag, like `--databaseURL=DATABASE_URL`, but that would not be mandatory

[2020-09-23 14:11] tiagostutz opened #27 "Complement crawled data"
The result of the crawler made by @douglasferlini in #5 is a JSON array with the overall information of the dresses os [La Fiancee](https://www.lafiancee.com.br/vestidos-de-noiva). Now, we need now to get the details of the dresses and generate a more detailed JSON array.

To do so, you will read the attached JSON and will make a request for the product API providing the `urlPart`in the following

[2020-09-23 16:55] RidamGarg commented on #26
Yes, I want to solve this issue

[2020-09-23 19:33] tiagostutz commented on #26
Awesome @RidamGarg !!
If you need any assistance, please let me know.
Go for it.! 🚀

[2020-09-23 21:24] RidamGarg commented on #26
I have created a pull request by doing some changes. Let me know I have done it correctly or not.

[2020-09-23 21:29] afiorentino commented on #27
Hi! I believe I should be able to tackle this. I've already forked the repository to https://www.github.com/afiorentino/stop-analyzing-api

[2020-09-23 21:39] tiagostutz commented on #27
Awesome, @afiorentino !! Just assigned to you this task.
If you think it would be better to handle it in another repository or using another programming language, feel free to do so, because this is not the core of stop-analyzing-api. But if you are comfortable doing it here, it is perfect too!

Thanks!

[2020-09-24 14:49] #8 closed

[2020-09-24 14:55] tiagostutz commented on #27
Oh I forgot to attach the JSON crawled by @douglasferlini. Here it goes:

[lafiancee.json.zip](https://github.com/bancodobrasil/stop-analyzing-api/files/5276983/lafiancee.json.zip)

[2020-09-24 15:07] tiagostutz opened #29 "Add /choice endpoint description to README.md"
Following this issue comment https://github.com/bancodobrasil/stop-analyzing-api/issues/16#issuecomment-667519483, document the endpoint to get the next choice in the README.md

[2020-09-25 04:02] viveksahu26 commented on #29
Hey @tiagostutz  , is this work for first time user or new contributer. Then i would like to work on it..

[2020-09-25 10:42] tiagostutz commented on #29
Hi @viveksahu26 !! Welcome to stop analyzing!
Sure, it will be really nice to have your contributions here. Just assigned the issue to you.

If you need any further assistance, please let me know!

[2020-09-25 13:55] arunsri7 opened #30 "I want to contribute"
Hey, I am quite a newbie to programming and this is the first time I am trying to contribute to an open-source project. I have experience with working on operational tasks for 6 months in a cloud telephony company.

[2020-09-29 22:28] afiorentino commented on #27
Hi, @tiagostutz

I'be been working on this task and I believe that I'm almost finished. I I'm curious if what I'm building is intended to be specific to the lafiancee site, or if I should try and be more generic so that part(s) of my contribution can be reused.

[2020-10-02 14:31] tiagostutz commented on #27
This case will be La Fiancee specific because this payload is from its website. But, as this site is made using Wix I think this would be an easy path to use this work with Wix based sites, but it is not a rule.

[2020-10-02 21:17] #5 closed

[2020-10-02 21:22] tiagostutz commented on #29
Justo to help, you could show this returning JSON as example:
[code]

[2020-10-04 16:41] viveksahu26 commented on #29
@tiagostutz , Do i need to add JSON file in readme file..

[2020-10-07 12:43] tiagostutz commented on #29
Yes, but not as an attachment, you could add the content inline, just like I did it https://github.com/bancodobrasil/stop-analyzing-api/issues/29#issuecomment-702963899.

[2020-10-09 06:20] kasheravaibhav14 commented on #26
@tiagostutz I'll take this issue and try to resolve it

[2020-10-13 01:10] afiorentino commented on #27
Hi @tiagostutz

I appreciate your patience with me regarding the completion of this task. I'm nearly complete, but I'm getting a 400 response code for the URL in the above code snippet. My repository is located at https://github.com/afiorentino/stop-analyzing-lafiancee-enhanced-json

I would love any feedback you have for me at this current stage and also a solution to the 400 response code I'm ge

[2020-10-15 20:52] tiagostutz commented on #26
Hi @kasheravaibhav14 ! Sorry for the late response.

I have just assigned this issue to you. Let me know if you need any assistance!
Thanks!

[2020-10-15 20:54] tiagostutz commented on #27
Hi there @afiorentino.!

You mean, 400 from this link: https://github.com/bancodobrasil/stop-analyzing-api/files/5276983/lafiancee.json.zip ?
Check it please, if you can go through.

I'll take a look at your repo and will place my observations as issues on your repo. Sounds good?

[2021-01-08 11:00] KarineValenca opened #31 "docker-compose command failing"
Hello! I'm facing this issue while running `docker-compose build` command:

<img width="565" alt="Screen Shot 2021-01-08 at 07 45 07" src="https://user-images.githubusercontent.com/8433187/104007073-1e415e00-5186-11eb-9f54-59981a4021e4.png">

[code]

Probably, the Go version from the Dockerfile is not compatible with the Prisma version.

[2021-01-11 11:34] tiagostutz commented on #31
Hi @KarineValenca!
I'll take a look at this.

[2021-01-11 12:01] tiagostutz commented on #31
Fixed this. =)

[2021-01-11 13:37] #31 closed

[2021-01-11 14:40] tiagostutz commented on #27
@KarineValenca could you tackle this?

[2021-01-11 14:47] KarineValenca commented on #27
Sure!

[2021-01-14 18:21] KarineValenca commented on #27
@tiagostutz I'm developing the code in this repo https://github.com/KarineValenca/stop-analyzing-enhanced-json
However, I have some questions. For each one of the urlPart in the attached JSON, I'm generating receiving the following response:
`
{"data":{"appSettings":{"widgetSettings":{}},"catalog":{"product":{"id":"1f48a12b-6dc9-4a1f-be94-e0b215a77210","description":"","isVisible":true,"sku":"cod3

[2021-01-18 12:06] tiagostutz commented on #27
Hi @KarineValenca ! Sorry for the late response
Yes, this is the JSON you posted is for a single product, right?

The resulting aggregated JSON for that would be something like:
[code]

There was a discussion about this JSON format at https://github.com/bancodobrasil/stop-analyzing-api/issues/29#issuecomment-702963899 and https://github.com/bancodobrasil/stop-analyzing-api/issues/16#issuecomment-6

[2021-01-20 17:02] KarineValenca commented on #27
@tiagostutz Your explication was clear! I'm just not sure how to fill the id, subtitle, and contentURL. Could you help me with that? After knowing that, I'll finish the enhanced JSON.

[2021-01-25 13:26] tiagostutz commented on #27
Hi @KarineValenca
- `id`: will be generated by the local persistence (like a MongoDB)
- `contentURL`: will be the link to the content itself. In the La Fiancee case, it will be "https://www.lafiancee.com.br/product-page/"+ the attribute `urlPart`.
- subtitle: In this case it will be empty.

If you have any more questions, please post here.! =)

[2021-01-26 11:19] KarineValenca commented on #27
Hi, again @tiagostutz. This is the enhanced JSON I built:
https://github.com/KarineValenca/stop-analyzing-enhanced-json/blob/master/enhanced.json

Please check it out. Any problems, let me know.

[2021-01-26 11:29] tiagostutz commented on #27
Perfect.!! That's the expected JSON. Thanx! =)

Is this project runnable locally? I mean, if we need to download an updated JSON from La Fiancee site and parse again, is it possible? If so, could you provide a README on how to do so?

[2021-01-26 12:09] KarineValenca commented on #27
Yes, it is possible. I wrote the instructions here:
https://github.com/KarineValenca/stop-analyzing-enhanced-json/blob/master/README.md

We just need to update the `lafiancee.json` file with the new data, and it will fetch the new data.

[2021-03-01 14:44] tiagostutz commented on #30
Hi there @arunsri7 !
Nice to have you here. Do you have any experience with Golang? Are you interested in learning this language?

[2021-03-02 13:32] arunsri7 commented on #30
Yes, I do have experience in Golang. I've worked with crud functionalities, bug fixes, small feature changes, and dockerizing go apps. Also yes, I would like to learn the language.

[2021-03-02 18:40] tiagostutz commented on #30
Awesome! ⭐

We are in the moment of getting the data structured in the API contract and returning that data from the API itself.
Could you take a look at https://github.com/bancodobrasil/stop-analyzing-api/issues/27#issuecomment-767501262 to see if you are able to run the referenced code (https://github.com/KarineValenca/stop-analyzing-enhanced-json)?

[2021-05-29 07:12] alokprince commented on #30
what can I do to contribute

[2021-06-22 20:30] tiagostutz commented on #30
Hi there @alokprince ! 👋🏻
Welcome to stop analyzing.!

Let's get something for you to tackle. Have you read the README instructions? Were you able to bring the project up and running? Need some help with that?
That's the first step, to put the project running, ok?

[2021-06-23 21:27] RammasEchor opened #32 "Hi! I would love to contribute."
I'm learning Golang, and I would love to contribute to this project!

[2021-06-23 22:41] tiagostutz commented on #32
Hi there @RammasEchor !! 👋🏻
Welcome to Stop Analyzing. It will be nice to have your contributions here. 😄

Let's definitely get something for you to tackle. First read the README instructions and try to bring the project up and running. If you struggle with that, no problem, ask for help in the issue and we will help you.
Please let me know as soon as you put the project running locally and then l

[2021-06-23 22:56] RammasEchor commented on #32
Thank you! I forked the project, and cloned it, but when I try to run the command `docker-compose up -d postgres pgadmin` I get this error:

[code]

I have docker version `Docker version 20.10.5, build 55c4c88`, and postgres version `postgres (PostgreSQL) 13.2`

[2021-06-23 23:06] tiagostutz commented on #32
It seems to be a problem with docker-compose executable...
Can you check what happens when you run the command:
[code]

And also, which python version are you running?

[2021-06-23 23:34] RammasEchor commented on #32
Thanks for the help! I get this version for `docker-compose --version`: `docker-compose version 1.29.0, build 07737305`, and I'm running `Python 2.7.16`

[2021-06-24 12:51] tiagostutz commented on #32
Nice.!
Try googling for this part of the error:
[code]

Usually, the first line of the stack is the best one to Google for a problem. In this case, this search would lead you to this url https://github.com/docker/compose/issues/7896 that might have some useful help.

Try this approach please and let me know the result. 😃

[2021-06-24 16:52] RammasEchor commented on #32
Hi!
That solution worked for me! I didn't had docker running in the background, so after I started it, everything went smoothly.

Just a heads up, in this instruction `sh generate.sh` I got an error, but googling it I found that it happens when you run the script in the vs code terminal, so switching to a normal terminal solved that.

I completed all the instructions, and for the last command I ge

[2021-06-25 00:16] tiagostutz opened #33 "Fix README instructions on how to start the server and add how to check if it is running"
Currently the README instructions does not lead to a running server and doesn't give directions on how to check whether the server is correctly running.

There could be an instruction such as

Or could have a curl to be copy-paste.

[2021-06-25 00:18] tiagostutz commented on #32
Awesome!! Just run:
[code]
Now go to your browser and open: http://localhost:7070/v1/choice and check if it returns a JSON.

Now, you've "unlock" a first good and importante issue: documentation. I've opened the issue #33 for you to contribute. Please, go to the issue and comment there sharing your thoughts about the problem and proposition state and, if you want to tackle that, say that you could

[2021-06-25 00:18] #32 closed, assigned to tiagostutz

[2021-06-25 15:14] lbenicio-ibm commented on #26
I am writing the code for this issue, and i got a question.
Is it to completely remove the env variable possibility, or just assign the flag value to the env variable so both options would be possible?

[2021-06-25 15:58] maxwelfcoelho opened #34 "I want to contribute to the project"
Hi, First of all, thank you for what you are doing, helping beginners to start to contribute to open source.

I have some proficiency with JavaScript and I am really interested in the Go programming language.

I would like to contribute to this project, if possible.

[2021-06-25 17:54] tiagostutz commented on #26
Completely remove from the Go code this. The env variable will be used as the value of the flag argument. Like:
[code]

Makes sense to you?

[2021-06-25 17:59] tiagostutz commented on #34
Hi there @maxwelfcoelho ! 👋🏻
Welcome to Stop Analyzing. It will be nice to have your contributions here. 😄

So cool to know that you are already a JS dev and is interested in getting into Golang world. That's the same path I've been at. 🤖 🤖 🤖

Let's definitely get something for you to tackle. First read the README instructions and try to bring the project up and running. If you struggle with that,

[2021-06-25 22:48] maxwelfcoelho commented on #34
Thank you for the answer @tiagostutz.

I'm not a professional JavaScript developer, so I wouldn't call myself a Js dev but I'm glad to take a somewhat similar path as you.

The project is already up and running at port 8000, and the message is Welcome to Stop Analyzing API.

[2021-06-28 17:45] lbenicio-ibm commented on #26
Please, correct me if i am wrong, schema.prisma controls the connection with the database, and the datasource object controls the connection string used to talk to the database.

From [this issue](https://github.com/prisma/prisma-client-go/issues/166) on Go Prisma client repository I understand that the way to do such connection on runtime is using env variables.

So, on test files and on dockerfi

[2021-06-30 13:50] tiagostutz commented on #26
Yes, you are right about setting DATABASE_URL FOR the runtime connection.
So, let's discuss some possibilites. I have the following suggestion:
1) we leave the environment variable in the generate.sh as it is now, because the "flag issue" we are working on is just for the Go part
2) In the Go part we will read this value from the flag and we will set the ENV variable on the program startup.

This

[2021-06-30 14:23] lbenicio-ibm commented on #26
Yes, that was my first approach but did not seen right. I will submit a PR them.

[2021-06-30 14:30] tiagostutz commented on #26
Awesome!!

[2021-10-01 22:57] trolzen commented on #33
Hi! Is it OK if I start working on this issue?

[2021-10-15 03:19] helpthehack opened #36 "Python code for calculator"
import tkinter as tk

root= tk.Tk()

canvas1 = tk.Canvas(root, width = 300, height = 300)
canvas1.pack()

entry1 = tk.Entry (root)
canvas1.create_window(210, 100, window=entry1)

entry2 = tk.Entry (root)
canvas1.create_window(210, 140, window=entry2)

entry3 = tk.Entry (root)
canvas1.create_window(210, 240, window=entry3)

label0 = tk.Label(root, text='Calculator')
label0.config(font=('helvetica',

[2022-02-01 13:54] gakuakachi opened #37 "I want to contribute to the project"
Hi, thanks for welcoming to start contributing to open source!
I have experience in Go for 9 months and few years for other languages.
I think it's time to start contributing to open source.
I would appreciate if you could give me some issue.

[2022-09-03 02:44] ora-zaq commented on #30
Hi, I'm a newbie to contribute OSS project. (I have a little experience with golang )
I'll prepare to tackle some issues.